.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25vh;
  padding: 20px;
}

.headerInfo {
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-radius: 10px;
}