.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25vh;
  padding: 20px;
}

.headerInfo {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 10px;
  align-items: center;
  padding: 20px;
}

.userPhoto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid white;
}

.userInfo {
  width: 70%;
  height: 90%;
  border-radius: 10px;
  border: 1px solid white;
}